.dashboard{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width:100vw;
    min-height: 100vh;
    gap:1%;
}

.litem{
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 25%;
    display: flex;
}
.ritem{
    height: 100%;
    width: 80%;
    display: flex;
}

.litem_list{
    gap: 3%;
    display: flex;
    flex-direction: column;
}

